{
  "projectId": "seu-project-id-aqui",
  "projectName": "Horizon AI",
  "functions": [
    {
      "$id": "recurring-transactions",
      "name": "Recurring Transactions",
      "runtime": "node-20.0",
      "execute": ["any"],
      "events": [],
      "schedule": "0 0 1 * *",
      "timeout": 900,
      "enabled": true,
      "logging": true,
      "entrypoint": "index.js",
      "commands": "npm install && npm run build",
      "path": ".",
      "vars": {
        "APPWRITE_ENDPOINT": "https://cloud.appwrite.io/v1",
        "APPWRITE_DATABASE_ID": "seu-database-id-aqui"
      }
    }
  ]
}
